[submodule "verilator"]
	path = tools/verilator
	url = https://github.com/verilator/verilator
[submodule "emsdk"]
	path = tools/emsdk
	url = https://github.com/emscripten-core/emsdk.git
[submodule "tools/llvm"]
	path = tools/llvm
	url = https://github.com/llvm/llvm-project.git
